{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <!-- Section des informations personnelles -->
    <div class="text-center mb-5 text-container">
        <h1 style="font-size: 4.5rem; font-weight: bold;">Llascer Simba | Groupe : B2</h1>
        <p class="lead" style="font-size: 2rem;">Welcome to my digital space, where I share my work and passions</p>
    </div>

    <!-- Section Présentation et Boutons -->
    <div class="row">
        <!-- Présentation à gauche -->
        <div class="col-md-6 text-container">
            <h2 style="font-weight: bold;">Who I am ?</h2>
            <p>
                My name is Llascer Simba. Originally from Mayotte, I am currently a student in Networks and Telecommunications at the IUT of Roanne.
                On this website, you will discover who I am, my passions, and my skills
            </p>
        </div>

        <!-- Boutons à droite -->
        <div class="col-md-6 d-flex flex-column align-items-end">
            <a href="{{ path('app_loisirs') }}" class="btn btn-primary btn-block mb-3" style="width: 65%; font-size: 2rem; padding: 10px;">En savoir plus</a>
            <a href="{{ path('app_cv') }}" class="btn btn-secondary btn-block mb-3" style="width: 65%; font-size: 2rem; padding: 10px;">CV</a>
            <a href="{{ path('app_portfolio') }}" class="btn btn-success btn-block mb-3" style="width: 65%; font-size: 2rem; padding: 10px;">E-Portfolio</a>
            <a href="{{ path('app_inscription') }}" class="btn btn-warning btn-block" style="width: 65%; font-size: 2rem; padding: 10px;">Inscription</a>
        </div>
    </div>
</div>
{% endblock %}
