{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <!-- Section des réseaux sociaux -->
    <div class="d-flex justify-content-end mb-4">
        <a href="https://www.instagram.com/llasc_simba/" target="_blank" class="btn btn-danger btn-sm mx-1">
            <i class="fab fa-instagram"></i> Instagram
        </a>
    </div>

    <!-- Section des informations personnelles -->
    <div class="text-center mb-5 text-container">
        <h1 style="font-size: 4.5rem; font-weight: bold;">Llascer Simba B2</h1>
        <p class="lead" style="font-size: 2rem;">Bienvenue sur mon espace numérique, où je partage mon travail et mes passions</p>
    </div>

    <!-- Section Présentation et Boutons -->
    <div class="row">
        <!-- Présentation à gauche -->
        <div class="col-md-6 text-container">
            <h2>Qui suis-je ?</h2>
            <p>
                Je m'appelle Llascer Simba. Originaire de Mayotte, je suis actuellement étudiant en Réseaux et Télécommunications à l'IUT de Roanne. 
                Sur ce site web vous allez découvrir qui je suis, quelles sont mes passions et mes compétences.
            </p>
        </div>

        <!-- Boutons à droite -->
        <div class="col-md-6 d-flex flex-column align-items-end">
            <a href="{{ path('app_loisirs') }}" class="btn btn-primary btn-block mb-3" style="width: 65%; font-size: 2rem; padding: 10px;">Loisirs</a>
            <a href="{{ path('app_cv') }}" class="btn btn-secondary btn-block mb-3" style="width: 65%; font-size: 2rem; padding: 10px;">CV</a>
            <a href="{{ path('app_portfolio') }}" class="btn btn-success btn-block mb-3" style="width: 65%; font-size: 2rem; padding: 10px;">Portfolio</a>
            <a href="{{ path('app_experiences') }}" class="btn btn-warning btn-block" style="width: 65%; font-size: 2rem; padding: 10px;">Expériences</a>
        </div>
    </div>
</div>
{% endblock %}
